@import './variables';

@import './css_reset';
@import './general';
@import './breakpoints';
@import './buttons';

@import './forms.scss';
@import './vendor/insightly.scss';

html {
  height: 100%;
}

body {
  background: $--color-app-background;
  color: $--color-text-primary;
  font: $--font-primary-400;
  min-height: 100%;

  display: flex;
  justify-content: center;
}

#content-wrapper {
  background-color: $--color-content-background;

  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  // grid-template-rows: 8rem auto 66.4rem;
  // grid-template-rows: 16.7rem auto 66.4rem;
  grid-template-rows: 10.5rem auto 66.4rem;
  grid-template-areas:
    'site-header'
    'main'
    'site-footer';

  position: relative;
  width: 100%;
  max-width: $--width-site-max;
  overflow: hidden;
}

a {
  text-decoration: none;

  &:not(.sky-blue-100, .magenta-100, .eggplant-100) {
    color: $--color-theme-sky-blue-100;

    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active,
    &[href^='mailto:'],
    &[href^='tel:'] {
      // color: revert;
    }
  }

  .underline {
    text-decoration: underline;
  }

  &:not(.button, .nav-link, .tel-link) {
    text-decoration: underline;

    img {
      line-height: 0;
    }
  }
}

header {
  grid-area: site-header;
}

main {
  grid-area: main;
  flex-wrap: wrap;
}

.page {
  flex-wrap: wrap;
}

section {
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  position: relative;
}

footer {
  background-color: $--color-theme-navy-100;

  grid-area: site-footer;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
q,
strong,
em,
strike,
sup,
sub {
  a {
    line-height: inherit;
  }
}

h1,
.h1,
h2.h1 {
  font: $--font-secondary-400;
  font-size: 9.6rem;
  letter-spacing: -0.2rem;
  line-height: 11.1rem;
}

h2,
.h2,
h3.h2 {
  font: $--font-secondary-400;
  font-size: 4rem;
  line-height: 4.3rem;
}

h3,
.h3,
h4.h3 {
  font: $--font-secondary-400;
  font-size: 3.2rem;
  line-height: 3.9rem;
}

h4,
.h4,
h5.h4 {
  font: $--font-secondary-400;
  font-size: 2rem;
  line-height: normal;

  &.p2-semibold {
    font: $--font-primary-600;
    font-size: 2.4rem;
    line-height: normal;
  }

  &.p2-bold {
    font: $--font-primary-700;
    font-size: 2.4rem;
    line-height: normal;
  }
}

h5,
.h5,
h6.h5 {
  &.p2-bold {
    font: $--font-primary-700;
    font-size: 2.4rem;
    line-height: normal;
  }
}

h6,
.h6 {
  &.p3-bold {
    font: $--font-primary-600;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

li,
p {
  font: $--font-primary-300;

  &.p1 {
    font-size: 3.2rem;
    line-height: 4.5rem;
  }

  &.p2 {
    font-size: 2.4rem;
    line-height: 3.5rem;

    strong {
      font: $--font-primary-600;
      font-size: inherit;
      line-height: auto;
    }
  }

  &.p3 {
    font-size: 1.8rem;
    line-height: 2.7rem;

    strong {
      font: $--font-primary-600;
      font-size: inherit;
      line-height: inherit;
    }
  }

  &.p4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  &.p5 {
    font-size: 1.3rem;
    line-height: 2.15rem;
  }
}

.container {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-right: auto;
  margin-left: auto;
  padding: 0 $--width-gutter-padding;

  position: relative;
  width: 100%;
  max-width: $--width-content-max;

  @include for-phone-up {
    max-width: 100%;
  }

  .copy-block {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    // row-gap: $--height-headline-gap;

    position: relative;
    width: 100%;

    .h1,
    .h2,
    p {
      width: 100%;
    }

    .h1,
    .h2 {
      & + p {
      }
    }
  }
}

ul {
  display: flex;

  &.arrow-list {
    flex-direction: column;
    row-gap: 3rem;
    padding: 0 0 0 1.5rem;

    li {
      padding: 0 0 0 1rem;

      &::marker {
        content: '⮕ ';
        font: $--font-primary-300;
        font-size: 1.1rem;
      }
    }

    &.eggplant-60 {
      li {
        &::marker {
          color: $--color-theme-eggplant-60;
        }
      }
    }

    &.magenta-100 {
      li {
        &::marker {
          color: $--color-theme-magenta-100;
        }
      }
    }

    &.sky-blue-100 {
      li {
        &::marker {
          color: $--color-theme-sky-blue-100;
        }
      }
    }
  }
}

section {
  padding: 1.5rem 0;

  > .container {
    padding: 6.2rem 2rem;
    z-index: 2;
  }
}

.multiply {
  mix-blend-mode: multiply;
}

.shape {
  display: flex;
  justify-content: center;

  pointer-events: none;
  position: absolute;

  max-width: $--width-site-max;
}

// HTML Container
.ml-container {
  flex-direction: column;
}

.content-frame {
  align-content: center;
  // align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  background-color: $--color-theme-white;
  border-radius: 2rem;
  box-shadow: $--box-shadow;

  // padding: 8.5rem;

  &.padded {
    padding: 8.5rem;
  }

  &.copy-block {
    color: $--color-text-primary;
  }
}

.cta-frame {
  &.padded {
    padding: 6rem;
  }

  .ml-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex: 1 1 100%;
    row-gap: 2.5rem;
    column-gap: 5rem;
    width: 100%;

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      margin-bottom: 0;
    }
  }
}

.copy-block {
  flex-direction: column;
  // row-gap: 3.5rem;

  .prehead {
    margin-bottom: -1.5rem;
    text-transform: uppercase;
  }

  &.align-center {
    align-content: center;
    align-items: center;

    * {
      text-align: center;
    }

    .button-container,
    .buttons-container {
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  }

  &.hero-block {
    // max-width: 40%;
    flex: 0 1 46%;

    .prehead {
      color: $--color-theme-eggplant-110;
    }
  }

  &.white-text {
    color: $--color-theme-white;
  }

  h1,
  h2,
  h3,
  // h4,
  // h5,
  // h6,
  div,
  img,
  p {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card {
  .image-container {
    img {
      border-radius: 2rem;
      overflow: hidden;
    }
  }

  // 1st Item
  &:nth-of-type(3n + 1) {
    .h2:not(.sky-blue-100, .magenta-100, .eggplant-100) {
      color: $--color-theme-sky-blue-100;
    }

    .button:not(.sky-blue-100, .magenta-100, .eggplant-100) {
      background-color: $--color-theme-sky-blue-100;

      &:hover {
        background-color: $--color-theme-sky-blue-110;
      }
    }
  }

  // 2nd Item
  &:nth-of-type(3n + 2) {
    .h2:not(.sky-blue-100, .magenta-100, .eggplant-100) {
      color: $--color-theme-magenta-100;
    }

    .button:not(.sky-blue-100, .magenta-100, .eggplant-100) {
      background-color: $--color-theme-magenta-100;

      &:hover {
        background-color: $--color-theme-magenta-110;
      }
    }
  }

  // 3rd Item
  &:nth-of-type(3n) {
    .h2:not(.sky-blue-100, .magenta-100, .eggplant-100) {
      color: $--color-theme-eggplant-100;
    }

    .button:not(.sky-blue-100, .magenta-100, .eggplant-100) {
      background-color: $--color-theme-eggplant-100;

      &:hover {
        background-color: $--color-theme-eggplant-110;
      }
    }
  }
}

// ==========================================================================================================
// Colors
// ==========================================================================================================
// Eggplant
.eggplant-110 {
  color: $--color-theme-eggplant-110;
}

.eggplant-100 {
  color: $--color-theme-eggplant-100;
}

.eggplant-80 {
  color: $--color-theme-eggplant-80;
}

.eggplant-60 {
  color: $--color-theme-eggplant-60;
}

// Sky Blue
.sky-blue-110 {
  color: $--color-theme-sky-blue-110;
}

.sky-blue-100 {
  color: $--color-theme-sky-blue-100;
}

.sky-blue-80 {
  color: $--color-theme-sky-blue-80;
}

.sky-blue-60 {
  color: $--color-theme-sky-blue-60;
}

// Magenta
.magenta-110 {
  color: $--color-theme-magenta-110;
}

.magenta-100 {
  color: $--color-theme-magenta-100;
}

.magenta-80 {
  color: $--color-theme-magenta-80;
}

.magenta-60 {
  color: $--color-theme-magenta-60;
}

// Magenta
.navy-100 {
  color: $--color-theme-navy-100;
}

.navy-90 {
  color: $--color-theme-navy-90;
}

.navy-80 {
  color: $--color-theme-navy-80;
}

.navy-60 {
  color: $--color-theme-navy-60;
}

.white {
  color: $--color-theme-white;
}
