@import './css_reset';
@import './variables';
@import './general';
@import './breakpoints';
@import './buttons';
@import './form.scss';

html {
  height: 100%;
}

body {
  background: $--color-app-background;
  color: $--color-text-primary;
  font: $--font-primary-400;
  min-height: 100%;

  display: flex;
  justify-content: center;
}

#content-wrapper {
  background-color: $--color-content-background;

  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  // grid-template-rows: 8rem auto 66.4rem;
  // grid-template-rows: 16.7rem auto 66.4rem;
  grid-template-rows: 10.5rem auto 66.4rem;
  grid-template-areas:
    'site-header'
    'main'
    'site-footer';

  position: relative;
  width: 100%;
  max-width: $--width-site-max;
  overflow: hidden;
}

a:not(.button, .nav-link, .tel-link) {
  color: $--color-theme-sky-blue-100;
  text-decoration: underline;

  img {
    line-height: 0;
  }
}

header {
  grid-area: site-header;
}

main {
  grid-area: main;
  flex-wrap: wrap;
}

section {
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  position: relative;
}

footer {
  background-color: $--color-theme-navy-100;

  grid-area: site-footer;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
q,
strong,
em,
strike,
sup,
sub {
  a {
    line-height: inherit;
  }
}

h1,
.h1,
h2.h1 {
  font: $--font-secondary-400;
  font-size: 9.6rem;
  letter-spacing: -0.2rem;
  line-height: 11.1rem;
}

h2,
.h2,
h3.h3 {
  font: $--font-secondary-400;
  font-size: 4rem;
  line-height: 4.3rem;
}

h3,
.h3,
h4.h3 {
  font: $--font-secondary-400;
  font-size: 3.2rem;
  line-height: 3.9rem;
}

h4,
.h4,
h5.h4 {
  font: $--font-secondary-400;
  font-size: 2rem;
  line-height: normal;
}

h5,
.h5,
h6.h5 {
  &.p2-bold {
    font: $--font-primary-700;
    font-size: 2.4rem;
    line-height: normal;
  }
}

p {
  font: $--font-primary-300;

  &.p1 {
    font-size: 3.2rem;
    line-height: 4.5rem;
  }

  &.p2 {
    font-size: 2.4rem;
    line-height: 3.5rem;

    strong {
      font: $--font-primary-600;
      font-size: inherit;
      line-height: auto;
    }
  }

  &.p4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.container {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-right: auto;
  margin-left: auto;
  padding: 0 $--width-gutter-padding;

  position: relative;
  width: 100%;
  max-width: $--width-content-max;

  .copy-block {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: $--height-headline-gap;

    position: relative;
    width: 100%;

    .h1,
    .h2,
    p {
      width: 100%;
    }

    .h1,
    .h2 {
      & + p {
      }
    }
  }
}

section {
  > .container {
    padding: 6.2rem 2rem;
    z-index: 2;
  }
}

.multiply {
  mix-blend-mode: multiply;
}

.shape {
  display: flex;
  justify-content: center;

  pointer-events: none;
  position: absolute;

  max-width: $--width-site-max;
}

.content-frame {
  align-content: center;
  // align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  background-color: $--color-theme-white;
  border-radius: 2rem;
  box-shadow: $--box-shadow;

  padding: 8.5rem;

  &.copy-block {
    color: $--color-text-primary;
  }
}

// HTML Container
.ml {
  flex-direction: column;
}

.copy-block {
  flex-direction: column;
  row-gap: 3.5rem;

  .prehead {
    margin-bottom: -1.5rem;
    text-transform: uppercase;
  }

  &.align-center {
    align-content: center;
    align-items: center;

    * {
      text-align: center;
    }
  }

  &.hero-block {
    max-width: 45%;

    .prehead {
      color: $--color-theme-eggplant-110;
    }
  }

  &.white-text {
    color: $--color-theme-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  img,
  p {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ==========================================================================================================
// Colors
// ==========================================================================================================
// Eggplant
.eggplant-110 {
  color: $--color-theme-eggplant-110;
}

.eggplant-100 {
  color: $--color-theme-eggplant-100;
}

.eggplant-80 {
  color: $--color-theme-eggplant-80;
}

.eggplant-60 {
  color: $--color-theme-eggplant-60;
}

// Sky Blue
.sky-blue-110 {
  color: $--color-theme-sky-blue-110;
}

.sky-blue-100 {
  color: $--color-theme-sky-blue-100;
}

.sky-blue-80 {
  color: $--color-theme-sky-blue-80;
}

.sky-blue-60 {
  color: $--color-theme-sky-blue-60;
}

// Magenta
.magenta-110 {
  color: $--color-theme-magenta-110;
}

.magenta-100 {
  color: $--color-theme-magenta-100;
}

.magenta-80 {
  color: $--color-theme-magenta-80;
}

.magenta-60 {
  color: $--color-theme-magenta-60;
}

// Magenta
.navy-100 {
  color: $--color-theme-navy-100;
}

.navy-90 {
  color: $--color-theme-navy-90;
}

.navy-80 {
  color: $--color-theme-navy-80;
}

.navy-60 {
  color: $--color-theme-navy-60;
}
