<!DOCTYPE html>
<html>

<head>
  <title>RenegadeBio | Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://use.typekit.net/eyh4wrm.css">

  <!-- Cookiebot / Opt-out -->
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="70b4fe37-19f3-42d9-8d73-bf33c31ffb1f" data-blockingmode="auto" type="text/javascript"></script>

  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'website' %>
</head>

<body id="app" class="cookiebar-active">
</body>

</html>